/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.color-dark {
    background-color: #2c2c2c !important;
    color: white !important;    
}

.jumb {
    padding: 4rem 2rem;
    margin-top: 2rem;
    background-color: #f8f9fa;
    border-radius: .3rem;
    text-align: left !important;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}